<link rel="stylesheet" href="/components/sidebar/sidebar.css">

<section class="sidebar-wrapper">
<aside class="left-side">
    <div data-import="/components/header/header.html"></div>
    <div data-import="/components/profile/profile.html"></div>
    <div data-import="/components/navbar/navbar.html"></div>
    <button id="logoutButton" class="logoutbtn"><img src="/assets/images/log-out.png" alt="">
        <div id="logout-text" class="sidebar-text">Logout</div></button>
</aside>

</section>
<script src="/components/sidebar/sidebar.js"></script>