.button-component {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
.btn {
border-radius: 12px;
border-color: rgb(154, 153, 153);
width: 185px;
height: 46px;
margin-top:14px;
margin-bottom: 24px;

}

.btn-ghost{
background-color: #F8F9FA;
}

.btn-ghost:hover{
    color: white;
}

.btn-primary{
   background-color:#FCC500 ; 
}

.btn-primary:hover{
    background-color: #E8A600;
}