.navbar {
  width: 220px;             
  border-radius: 8px;
  box-sizing: border-box;
  color: #363636;
  font-size: 14px;
  font-weight: 500;
  
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  
  gap: 8px;
 
}


.navbar a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  padding: 4px 12px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  
 
}

.navbar img  {
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: block;
  margin-top: 16px;
  color: #363636;
  
}


.sidebar-text {
 font-size: 14px;
 font-weight: 500;
  line-height: 1;
  color: rgb(51, 51, 51);
  
  
}


.navbar a.active {
  background-color: #fff;   
  color: #fff;
 
}

.navbar a:hover {
background-color: #F4F7FD; 
  color: #3252FA; 

}


