<!DOCTYPE html>
<link rel="stylesheet" href="/components/navbar/navbar.css">

<nav class="navbar">
    <ul class="navbar-list">
    <li ><a href="/modules/dashboard/dashboard.html"><img src="/assets/images/dashboard.svg" alt=""><span class="sidebar-text" >Dashboard</span></a>
   </li>

   <li >
<a href="/modules/tasks/tasks.html"><img src="/assets/images/logo.svg" alt=""> <span class="sidebar-text">Tasks</span></a>
</li>
 
<li >
    <a href="/modules/community/community.html"> <img src="/assets/images/community.svg" alt="" ><span class="sidebar-text">Community</span></a>
  </li>

</ul>
</nav> 