
:root{
    --primary-color: #3750FA;
    --bg-color-1: #FFFFFF;
    --bg-color-2: #f7f9fd;
    --text: #222;
  }

  html,body { height: 100%; margin: 0; padding: 0; box-sizing: border-box; }

  body {
  min-height: 100vh;
  background-color: var(--bg-color-2);
  color: var(--text);
  font-family: ui-sans-serif, system-ui, sans-serif;
  
 
}

