 footer{ 
 
 align-items: center;
  font-size: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: var(--footer-text);
}

.terms a{
    text-align: none;
}
.terms{
font: 12px;
color: var(--footer-subtext);
}

