.auth_buttons {
display: flex;
justify-content: space-between;
align-items: center;
 width: 100%;
        }
.btn {
border-radius: 12px;
background-color: rgb(154, 153, 153);
width: 185px;
height: 46px;
margin-top:14px;
margin-bottom: 24px;
border: none;

}

.btn-ghost{
background-color: #F8F9FA;
border: 1px solid rgb(218, 216, 216);
filter: brightness(1);
font-weight: 500;
font-size: 14px;
}

.btn-ghost:hover{
    color: white;
}

.btn-primary{
   background-color:#FCC500 ; 
}

.btn-primary:hover{
    background-color: #E8A600;
}

[data-view] { display: none; }

[data-view].active { display: block; }

[data-view="auth"].active {
  display: flex;                 
  justify-content: center;       
  align-items: flex-start;       
  min-height: 100vh;             
  padding: 3rem 1rem;           
              
}